{% extends "main.html" %}
{% block home_button %}
  <a class="btn btn-primary" style="margin-top:30px;" href="/">Home</a>
{% endblock %}
{% block login_button %}
  <a class="btn btn-danger" style="margin-top:30px;" href="/gdisconnect" onclick="signOut();">Sign Out</a>
  <script>
    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        auth2.disconnect();
        console.log('User signed out.');
      });
    }
  </script>
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Are you sure you want to delete {{ patient_name }}'s records?</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <form action="#" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
  </div>
{% endblock %}