{% extends "main.html" %}
{% block login_button %}
  <a class="btn btn-danger" style="margin-top:30px;" href="/gdisconnect" onclick="signOut();">Sign Out</a>
  <script>
    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        auth2.disconnect();
        console.log('User signed out.');
      });
    }
  </script>
{% endblock %}
{% block content %}
  <div class="row">
    <aside class="col-md-4">
      <ul class="nav nav-pills nav-stacked">
        <li id="recent_admits" class="active">
          <a href="{{url_for('showDepartments')}}">Recent Admits</a>
        </li>
      {% for department in departments %}
        <li id="{{(department.department_name).replace(' ','')}}">
          <a href="{{url_for('showPatients',department=department.department_name)}}">
            {{ department.department_name }}
          </a>
        </li>
<!--         <li> <strong> {{ department.department_name }} </strong> </li> -->
      {% endfor %}
      </ul>
    </aside>
    <section class="col-md-6">
      <ul>
      {% for patient in patients %}
        <a href="{{url_for('viewPatient',patient_id=patient.id)}}">
          <div>{{ patient.name }}</div>
        </a>
        <!-- <li> {{ patient.name }} </li> -->
      {% endfor %}
      </ul>
    </section>
    <div class="col-md-2 text-right">
      <a class="btn btn-primary" href="{{url_for('newPatient')}}">New Admit</a>
    </div>
  </div>
  <script>
    $('#{{active}}').siblings().removeClass('active');
    $('#{{active}}').addClass('active');
  </script>
{% endblock %}