<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client:platform.js"></script>
    <meta charset="utf-8">
    <script>
    function start() {
      gapi.load('auth2', function() {
        auth2 = gapi.auth2.init({
          client_id: '341945468275-4512v8el2aj5kf4ko8u1v8ki2o203k3e.apps.googleusercontent.com',
          redirect_uri: 'postmessage'
          // Scopes to request in addition to 'profile' and 'email'
          //scope: 'additional_scope'
        });
      });
    }
    start();
  </script>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <header class="row page-header text-center">
        <div class="col-md-2">
          <h1><span style="margin-top:15px;" class="glyphicon glyphicon-plus"></span></h1>
        </div>
        <div class="col-md-8">
          <h1> NPHD <br> <small>National Patient Healthcare Database</small></h1>
        </div>
        <div class="col-md-2 text-right">
          {% block login_button %}
          {% endblock %}
        </div>
      </header>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>