{% extends "main.html" %}
{% block home_button %}
  <a class="btn btn-primary" style="margin-top:30px;" href="/">Home</a>
{% endblock %}
{% block login_button %}
  <a class="btn btn-danger" style="margin-top:30px;" href="/gdisconnect" onclick="signOut();">Sign Out</a>
  <script>
    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        auth2.disconnect();
        console.log('User signed out.');
      });
    }
  </script>
{% endblock %}
{% block content %}
  <section class="row">
    <div class="col-md-12 text-center">
      <h1>{{ patient.name }} <br> <small>Hospital: {{ hospital_name }}</small></h1>
    </div>
  </section>
  <section class="row text-center">
    <div class="col-md-12">
      <a class="btn btn-primary" href="{{url_for('editPatient',patient_id=patient.id)}}">
        <span class="glyphicon glyphicon-pencil"></span>  Edit
      </a>
      <a class="btn btn-danger" href="{{url_for('deletePatient',patient_id=patient.id)}}">
        <span class="glyphicon glyphicon-trash"></span>  Delete
      </a>
    </div>
  </section>
  <section class="details text-center">
    {% with messages = get_flashed_messages() %}
         {% if messages %}
            <li class="alert alert-danger"> {{ messages[-1] }}</li>
         {% endif %}
      {% endwith %}
    <div class="row">
      <div class="col-md-2">
        <h3>Age <br> <small>{{ patient.age }}</small></h3>
      </div>
      <div class="col-md-8">
        <h3>Date of Admission <br> <small> {{ patient.date_of_admission }} </small></h3>
      </div>
      <div class="col-md-2">
        <h3>Department <br> <small> {{ department_name }} </small> </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Notes <br> <small> {{ patient.notes }} </small></h3>
      </div>
    </div>
  </section>
{% endblock %}